<div class="new">
    <div class="card">
        <div class="card-header card-header-warning">
            <h4 class="card-title">Retrospection</h4>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead class="text-warning">
                    <th>SL#</th>
                    <th>Sprint#</th>
                    <th>Sprint start date</th>
                    <th>Sprint end date</th>
                    <th>Team Member Name</th>
                    <th>Start Doing</th>
                    <th>Stop Doing</th>
                    <th>Continue Doing</th>
                    <th>Action taken</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>start date</td>
                        <td>end date</td>
                        <td>name</td>
                        <td>doing</td>
                        <td>a</td>
                        <td><b></b></td>
                        <td>action</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>1</td>
                        <td>start date</td>
                        <td>end date</td>
                        <td>name</td>
                        <td>doing</td>
                        <td>a</td>
                        <td><b></b></td>
                        <td>action</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>1</td>
                        <td>start date</td>
                        <td>end date</td>
                        <td>name</td>
                        <td>doing</td>
                        <td>a</td>
                        <td><b></b></td>
                        <td>action</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>2</td>
                        <td>start date</td>
                        <td>end date</td>
                        <td>name</td>
                        <td>doing</td>
                        <td>a</td>
                        <td><b></b></td>
                        <td>action</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>2</td>
                        <td>start date</td>
                        <td>end date</td>
                        <td>name</td>
                        <td>doing</td>
                        <td>a</td>
                        <td><b></b></td>
                        <td>action</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>2</td>
                        <td>start date</td>
                        <td>end date</td>
                        <td>name</td>
                        <td>doing</td>
                        <td>a</td>
                        <td><b></b></td>
                        <td>action</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>2</td>
                        <td>start date</td>
                        <td>end date</td>
                        <td>name</td>
                        <td>doing</td>
                        <td>a</td>
                        <td><b></b></td>
                        <td>action</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>