<div class="new">
    <div class="card">
        <div class="card-header card-header-warning">
            <h4 class="card-title">StandUp Meet</h4>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead class="text-warning">
                    <th>Sprint</th>
                    <th>Day</th>
                    <th>Impediments</th>
                    <th>Action Taken</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td><p>Impediments</p></td>
                        <td>action</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td><p>Impediments</p></td>
                        <td>action</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td><p>Impediments</p></td>
                        <td>action</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td><p>Impediments</p></td>
                        <td>action</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td><p>Impediments</p></td>
                        <td>action</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td><p>Impediments</p></td>
                        <td>action</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    
</div>