<div class="new">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">SPRINT 1 BURN-DOWN CHART DATA</h4>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>SPRINT</th>
                            <th>Day</th>
                            <th>Planned</th>
                            <th>Actual</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="6">1</td>
                                <td>day1</td>
                                <td>day1</td>
                                <td>day3</td>
                            </tr>
                            <tr>
                                <td>day1</td>
                                <td>day1</td>
                                <td>day3</td>
                            </tr>
                            <tr>
                                <td>day1</td>
                                <td>day1</td>
                                <td>day3</td>
                            </tr>
                            <tr>
                                <td>day1</td>
                                <td>day1</td>
                                <td>day3</td>
                            </tr>
                            <tr>
                                <td>day1</td>
                                <td>day1</td>
                                <td>day3</td>
                            </tr>
                            <tr>
                                <td>day1</td>
                                <td>day1</td>
                                <td>day3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">SPRINT 2 BURN-DOWN CHART DATA</h4>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>SPRINT</th>
                            <th>Day</th>
                            <th>Planned</th>
                            <th>Actual</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="6">2</td>
                                <td>day1</td>
                                <td>day1</td>
                                <td>day3</td>
                            </tr>
                            <tr>
                                <td>day1</td>
                                <td>day1</td>
                                <td>day3</td>
                            </tr>
                            <tr>
                                <td>day1</td>
                                <td>day1</td>
                                <td>day3</td>
                            </tr>
                            <tr>
                                <td>day1</td>
                                <td>day1</td>
                                <td>day3</td>
                            </tr>
                            <tr>
                                <td>day1</td>
                                <td>day1</td>
                                <td>day3</td>
                            </tr>
                            <tr>
                                <td>day1</td>
                                <td>day1</td>
                                <td>day3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>