<div class="new">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Sprint 1 Capacity Planning</h4>
                </div>
                <div class="card-body table-responsive">
                    <label>Total Number Of Members  <input type="number"></label>
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>Members</th>
                            <th>Available days in a sprint</th>
                            <th>Available working hours per day</th>
                            <th>Total hours available in the sprint</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text"></td>
                                <td>
                                    <input type="number" id="Days" name="Days" min="1" max="10"></td>
                                <td>
                                    <input type="number" id="Members" name="Members" min="1" max="9"></td>
                                <td id="sum">sum</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text"></td>
                                <td>
                                    <input type="number" id="Days" name="Days" min="1" max="10"></td>
                                <td>
                                    <input type="number" id="Members" name="Members" min="1" max="9"></td>
                                <td id="sum">sum</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text"></td>
                                <td>
                                    <input type="number" id="Days" name="Days" min="1" max="10"></td>
                                <td>
                                    <input type="number" id="Members" name="Members" min="1" max="9"></td>
                                <td id="sum">sum</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text"></td>
                                <td>
                                    <input type="number" id="Days" name="Days" min="1" max="10"></td>
                                <td>
                                    <input type="number" id="Members" name="Members" min="1" max="9"></td>
                                <td id="sum">sum</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text"></td>
                                <td>
                                    <input type="number" id="Days" name="Days" min="1" max="10"></td>
                                <td>
                                    <input type="number" id="Members" name="Members" min="1" max="9"></td>
                                <td id="sum">sum</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text"></td>
                                <td>
                                    <input type="number" id="Days" name="Days" min="1" max="10"></td>
                                <td>
                                    <input type="number" id="Members" name="Members" min="1" max="9"></td>
                                <td id="sum">sum</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text"></td>
                                <td>
                                    <input type="number" id="Days" name="Days" min="1" max="10"></td>
                                <td>
                                    <input type="number" id="Members" name="Members" min="1" max="9"></td>
                                <td id="sum">sum</td>
                            </tr>
                            <tr>
                                <td colspan="3">Total available hours in the Sprint</td>
                                <td>total </td>
                            </tr>
                        </tbody>
                    </table>

                    <table>
                        <thead class="text-warning">
                            <th>Time for ceremonies</th>
                            <th>Buffer Time</th>
                            <th>Total hours of available work time in the Sprint</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number"></td>
                                <td>
                                    <input type="number"></td>
                                <td>
                                    <input type="number"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Sprint 2 Capacity Planning</h4>
                </div>
                <div class="card-body table-responsive">
                    <label>Total Number Of Members  <input type="number" min="1" max="6"></label>
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>Members</th>
                            <th>Available days in a sprint</th>
                            <th>Available working hours per day</th>
                            <th>Total hours available in the sprint</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text"></td>
                                <td>
                                    <input type="number" id="Days" name="Days" min="1" max="10"></td>
                                <td>
                                    <input type="number" id="Members" name="Members" min="1" max="9"></td>
                                <td id="sum">sum</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text"></td>
                                <td>
                                    <input type="number" id="Days" name="Days" min="1" max="10"></td>
                                <td>
                                    <input type="number" id="Members" name="Members" min="1" max="9"></td>
                                <td id="sum">sum</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text"></td>
                                <td>
                                    <input type="number" id="Days" name="Days" min="1" max="10"></td>
                                <td>
                                    <input type="number" id="Members" name="Members" min="1" max="9"></td>
                                <td id="sum">sum</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text"></td>
                                <td>
                                    <input type="number" id="Days" name="Days" min="1" max="10"></td>
                                <td>
                                    <input type="number" id="Members" name="Members" min="1" max="9"></td>
                                <td id="sum">sum</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text"></td>
                                <td>
                                    <input type="number" id="Days" name="Days" min="1" max="10"></td>
                                <td>
                                    <input type="number" id="Members" name="Members" min="1" max="9"></td>
                                <td id="sum">sum</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text"></td>
                                <td>
                                    <input type="number" id="Days" name="Days" min="1" max="10"></td>
                                <td>
                                    <input type="number" id="Members" name="Members" min="1" max="9"></td>
                                <td id="sum">sum</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text"></td>
                                <td>
                                    <input type="number" id="Days" name="Days" min="1" max="10"></td>
                                <td>
                                    <input type="number" id="Members" name="Members" min="1" max="9"></td>
                                <td id="sum">sum</td>
                            </tr>
                            <tr>
                                <td colspan="3">Total available hours in the Sprint</td>
                                <td>total </td>
                            </tr>
                        </tbody>
                    </table>

                    <table>
                        <thead class="text-warning">
                            <th>Time for ceremonies</th>
                            <th>Buffer Time</th>
                            <th>Total hours of available work time in the Sprint</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number"></td>
                                <td>
                                    <input type="number"></td>
                                <td>
                                    <input type="number"></td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>