<div class="new">
    <div class="card">
        <div class="card-header card-header-warning">
            <h4 class="card-title">Product Backlog</h4>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead class="text-warning">
                    <th>Planned Sprint</th>
                    <th>Actual Sprint</th>
                    <th>US ID</th>
                    <th>US Description</th>
                    <th>Moscow</th>
                    <th>Dependency</th>
                    <th>Assignee</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td><p>description</p></td>
                        <td><select name ="Moscow" id="moscow">
                            <option value="Must Have">Must Have</option>
                            <option value="Should Have">Should Have</option>
                            <option value="Could Have">Could Have</option>
                            <option value="Wont Have">WontHave</option>
                        </select></td>
                        <td>US 1</td>
                        <td>abcd</td>
                        <td><select name ="Status" id="Status">
                            <option value="Not Started">Not Started</option>
                            <option value="In-Progress">In-Progress</option>
                            <option value="Completed">Completed</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td><p>description</p></td>
                        <td><select name ="Moscow" id="moscow">
                            <option value="Must Have">Must Have</option>
                            <option value="Should Have">Should Have</option>
                            <option value="Could Have">Could Have</option>
                            <option value="Wont Have">WontHave</option>
                        </select></td>
                        <td>US 1</td>
                        <td>abcd</td>
                        <td><select name ="Status" id="Status">
                            <option value="Not Started">Not Started</option>
                            <option value="In-Progress">In-Progress</option>
                            <option value="Completed">Completed</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td><p>description</p></td>
                        <td><select name ="Moscow" id="moscow">
                            <option value="Must Have">Must Have</option>
                            <option value="Should Have">Should Have</option>
                            <option value="Could Have">Could Have</option>
                            <option value="Wont Have">WontHave</option>
                        </select></td>
                        <td>US 1</td>
                        <td>abcd</td>
                        <td><select name ="Status" id="Status">
                            <option value="Not Started">Not Started</option>
                            <option value="In-Progress">In-Progress</option>
                            <option value="Completed">Completed</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td><p>description</p></td>
                        <td><select name ="Moscow" id="moscow">
                            <option value="Must Have">Must Have</option>
                            <option value="Should Have">Should Have</option>
                            <option value="Could Have">Could Have</option>
                            <option value="Wont Have">WontHave</option>
                        </select></td>
                        <td>US 1</td>
                        <td>abcd</td>
                        <td><select name ="Status" id="Status">
                            <option value="Not Started">Not Started</option>
                            <option value="In-Progress">In-Progress</option>
                            <option value="Completed">Completed</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td><p>description</p></td>
                        <td><select name ="Moscow" id="moscow">
                            <option value="Must Have">Must Have</option>
                            <option value="Should Have">Should Have</option>
                            <option value="Could Have">Could Have</option>
                            <option value="Wont Have">WontHave</option>
                        </select></td>
                        <td>US 1</td>
                        <td>abcd</td>
                        <td><select name ="Status" id="Status">
                            <option value="Not Started">Not Started</option>
                            <option value="In-Progress">In-Progress</option>
                            <option value="Completed">Completed</option>
                        </select></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
