<div class="new">
    <div class="row">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title" style="padding: 15px;">Sprint 1</h4>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <tr class="text-warning">
                        <th rowspan="2">US ID</th>
                        <th rowspan="2">Task ID</th>
                        <th rowspan="2">Task Description</th>
                        <th rowspan="2">Task Start Date</th>
                        <th rowspan="2">Task End Date</th>
                        <th rowspan="2">Team Member</th>
                        <th rowspan="2">Activity</th>
                        <th rowspan="2">Status</th>
                        <th>Original Estimated Effort</th>
                        <th>Day 1</th>
                        <th>Day 2</th>
                        <th>Day 3</th>
                        <th>Day 4</th>
                        <th>Day 5</th>
                        <th>Day 6</th>
                        <th>Day 7</th>
                        <th>Day 8</th>
                        <th>Day 9</th>
                        <th>Day 10</th>
                    </tr>
                    <tr>
                        <th>num</th>
                        <th>num</th>
                        <th>num</th>
                        <th>num</th>
                        <th>num</th>
                        <th>num</th>
                        <th>num</th>
                        <th>num</th>
                        <th>num</th>
                        <th>num</th>
                        <th>num</th>
                    </tr>
                    <tr>
                        <td colspan="19">SPRINT 1</td>
                    </tr>
                    <tbody>
                        <tr>
                            <td>Uid</td>
                            <td>Tid</td>
                            <td><p>Description</p></td>
                            <td>start date</td>
                            <td>end date</td>
                            <td>team menber</td>
                            <td>activity</td>
                            <td>status</td>
                            <td>5days</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Uid</td>
                            <td>Tid</td>
                            <td><p>Description</p></td>
                            <td>start date</td>
                            <td>end date</td>
                            <td>team menber</td>
                            <td>activity</td>
                            <td>status</td>
                            <td>5days</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Uid</td>
                            <td>Tid</td>
                            <td><p>Description</p></td>
                            <td>start date</td>
                            <td>end date</td>
                            <td>team menber</td>
                            <td>activity</td>
                            <td>status</td>
                            <td>5days</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Uid</td>
                            <td>Tid</td>
                            <td><p>Description</p></td>
                            <td>start date</td>
                            <td>end date</td>
                            <td>team menber</td>
                            <td>activity</td>
                            <td>status</td>
                            <td>5days</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Uid</td>
                            <td>Tid</td>
                            <td><p>Description</p></td>
                            <td>start date</td>
                            <td>end date</td>
                            <td>team menber</td>
                            <td>activity</td>
                            <td>status</td>
                            <td>5days</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title" style="padding: 15px;">Sprint 2</h4>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <tr class="text-warning">
                        <th rowspan="2">US ID</th>
                        <th rowspan="2">Task ID</th>
                        <th rowspan="2">Task Description</th>
                        <th rowspan="2">Task Start Date</th>
                        <th rowspan="2">Task End Date</th>
                        <th rowspan="2">Team Member</th>
                        <th rowspan="2">Activity</th>
                        <th rowspan="2">Status</th>
                        <th>Original Estimated Effort</th>
                        <th>Day 1</th>
                        <th>Day 2</th>
                        <th>Day 3</th>
                        <th>Day 4</th>
                        <th>Day 5</th>
                        <th>Day 6</th>
                        <th>Day 7</th>
                        <th>Day 8</th>
                        <th>Day 9</th>
                        <th>Day 10</th>
                    </tr>
                    <tr>
                        <th>num</th>
                        <th>num</th>
                        <th>num</th>
                        <th>num</th>
                        <th>num</th>
                        <th>num</th>
                        <th>num</th>
                        <th>num</th>
                        <th>num</th>
                        <th>num</th>
                        <th>num</th>
                    </tr>
                    <tr>
                        <td colspan="19">SPRINT 1</td>
                    </tr>
                    <tbody>
                        <tr>
                            <td>Uid</td>
                            <td>Tid</td>
                            <td><p>Description</p></td>
                            <td>start date</td>
                            <td>end date</td>
                            <td>team menber</td>
                            <td>activity</td>
                            <td>status</td>
                            <td>5days</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Uid</td>
                            <td>Tid</td>
                            <td><p>Description</p></td>
                            <td>start date</td>
                            <td>end date</td>
                            <td>team menber</td>
                            <td>activity</td>
                            <td>status</td>
                            <td>5days</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Uid</td>
                            <td>Tid</td>
                            <td><p>Description</p></td>
                            <td>start date</td>
                            <td>end date</td>
                            <td>team menber</td>
                            <td>activity</td>
                            <td>status</td>
                            <td>5days</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Uid</td>
                            <td>Tid</td>
                            <td><p>Description</p></td>
                            <td>start date</td>
                            <td>end date</td>
                            <td>team menber</td>
                            <td>activity</td>
                            <td>status</td>
                            <td>5days</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Uid</td>
                            <td>Tid</td>
                            <td><p>Description</p></td>
                            <td>start date</td>
                            <td>end date</td>
                            <td>team menber</td>
                            <td>activity</td>
                            <td>status</td>
                            <td>5days</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>